<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block title %}<title>Operatie Zeepier</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% block sidebar %}
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:10%">
        <img src="{% static "image/logopng.png" %}" alt="Logo OZ" style="width:90%; margin-left:5%">
        <h3 class="w3-bar-item">Menu</h3>
        <a class="w3-bar-item w3-button" href="{% url 'index' %}">Home</a>
        <a class="w3-bar-item w3-button" href="{% url 'vistrip' %}">Alle Trips</a>
        <a class="w3-bar-item w3-button" href="{% url 'admin:index' %}">Admin site</a>
    </div>
    {% endblock %}

<div style="margin-left:10%">
    <div class="w3-container w3-light-grey">  
        <h1>Operatie zeepier</h1>
        <h2>Zeehengelsportvereniging</h2>           
    </div>
    <div class="w3-container">
        {% block content %}{% endblock %}
    </div>
</div>
</body>



