.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}