{% extends "base.html" %}
{% block contentheading %}
Vistrips
{% endblock %}
{% block content %}
{% if vistrip_list %}
<ul>
    {% for vistrip in vistrip_list %}
    <li>
        <a href="{{ vistrip.get_absolute_url }}">{{ vistrip.boot }} ({{vistrip.datum}})  </a>
        <br>
        {% if not vistrip.plek_over_count == 1 %}
            {% if vistrip.plek_over_count > 0 %}
                <a>nog {{vistrip.plek_over_count}} plaatsen beschikbaar</a>
            {%endif%}
            {% if vistrip.plek_over_count <= 0 %}
                <a> 0 plaatsen beschikbaar</a>
            {%endif%}
        {%endif%}

        {% if vistrip.plek_over_count == 1 %}
            <a>nog {{vistrip.plek_over_count}} plaats beschikbaar</a>
        {%endif%}
    </li>
    <br>
    {% endfor %}

</ul>
{% else %}
<p>Er zijn geen vistrips aanwezig.</p>
{% endif %}
{% endblock %}