{% extends "base.html" %}


{% block contentheading %}
Vistrip "{{ vistrip.boot }} {{vistrip.datum}}" 

{% endblock %}
{% block content %}
<a href="{% url 'beheer-trip' vistrip.id %}">Beheer</a> 

<h3><strong>Totaal aantal plekken</strong> {{vistrip.boot.plaatsen}}</h3>
<h3><strong>Beschikbare plekken</strong> {{vistrip.plek_over_count}}</h3>

<strong>Opvarenden:</strong> 
{% for copy in vistrip.visplek_set.all %}
<div>{{ copy.visser.get_full_name }}</div>
{% endfor %}

<form method="POST" class="post-form">{% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Inschrijven</button>
    </form>


{% endblock %}

